In [ ]:
Functions: reusable block of code that performs specific tasks.

In [1]:
def  my_fun():
    print("Hello from my fun")

In [2]:
my_fun()

Hello from my fun

In [ ]:
parameterised function

In [3]:
def greet(name):
    print("Good morning", name)

In [5]:
greet("Anushka")

Good morning Anushka

In [6]:
def square(a):
    print(a*a)

In [8]:
square(5)
square(25)

25
625

In [9]:
def sq(a):
    return(a*a)
sq(5)

25

In [10]:
sq(5)

25

In [13]:
def odd_even(num):
    if(num%2==0):
        print(num,": Even")
    else:
        print(num,": Odd")
odd_even(5)

5 : Odd

In [15]:
def odd_even(num):
    if(num%2==0):
        print(num,": Even")
    else:
        print(num,": Odd")
odd_even(10)

10 : Even

In [16]:
def add(num1,num2):
    print(num1+num2)

In [17]:
add(8,6)

14

In [18]:
Types of Arguments:
    Positional
    Keyword
    Default
    Variable Length
    Keyword Variable Length

SyntaxError: invalid syntax (65277322.py, line 1)

In [19]:
#keyword arguments
add(num1=5,num2=46)

51

In [20]:
add(num2=46,5)

SyntaxError: positional argument follows keyword argument (4228618439.py, line 1)

In [21]:
add(46,num2=5)

51

In [22]:
add(46,num1=5)

TypeError: add() got multiple values for argument 'num1'

In [23]:
add(num1=3,8)

SyntaxError: positional argument follows keyword argument (2832202704.py, line 1)

In [24]:
#Default Arguments
def add(a=9,b=7):
    print(a+b)

In [25]:
add()

16

In [26]:
add(6,8)

14

In [27]:
def sum(a,b):
    return(a+b)

In [28]:
sum(8,64,3,45)

TypeError: sum() takes 2 positional arguments but 4 were given

In [32]:
#Variable Length Argument
def sum(*num):
    total = 0
    for i in num:
        total=total+i
    return(total)

In [31]:
sum(1,5,3,7)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [33]:
sum(1,5,3,7)

16

In [34]:
#Keyword Variable Length
def info(**args):
    for i,j in args.items():
        print(i,j)
info(Name="John",Age="30",City="Mumbai",Dept="IT")

Name John
Age 30
City Mumbai
Dept IT

In [35]:
def person(name,*args):
    print(name)
    print(args)
person("Anushka",22,"IT",655084,"Kannauj")

Anushka
(22, 'IT', 655084, 'Kannauj')

In [36]:
def person(name,**args):
    print(name)
    for i,j in args.items():
        print(i,j)
person("Anushka",Age='22',Dept="IT",ID="655084",City="Kannauj")

Anushka
Age 22
Dept IT
ID 655084
City Kannauj

In [ ]:
#Task: Oil and Gas Equipment and Drilling Site Management System

 
#You are tasked with developing a Python program for an oil and gas company to manage their drilling equipment and drilling sites. The program should use *args and **kwargs to provide flexibility in adding and searching for equipment and sites. Here are the tasks you need to complete:
#Create a Python script that defines empty lists for drilling equipment and drilling sites.

 
#Implement a function add_equipment that takes the following parameters:
 

#equipment_type (string): The type of equipment being added.
#*args (tuple): Additional details about the equipment (e.g., model, power, capacity).
#**kwargs (dictionary): Additional attributes of the equipment (e.g., vendor, power source).
#The function should create a dictionary representing the equipment, including its type, details (from *args), and attributes (from **kwargs). Then, it should append this dictionary to the drilling_equipment list.

In [ ]:
#list Creation
Drilling_Equipment = []
Drilling_Site = []

In [40]:
#list Creation
Drilling_Equipment = []
Drilling_Site = []
def add_equipment(equipment_type,*args,**keyargs):
    equipments={
        "equipment":equipment_type,
        "details":args,
        "attributes":keyargs
    }
    Drilling_Equipment.append(equipments)
add_equipment("Pump","Model: X",100,10,Vendor="A")
print(Drilling_Equipment)

[{'equipment': 'Pump', 'details': ('Model: X', 100, 10), 'attributes': {'Vendor': 'A'}}]

In [ ]:
#Implement a function add_drilling_site with similar parameters:

 

#site_name (string): The name of the drilling site being added.
#*args (tuple): Additional details about the site (e.g., location, depth, terrain).
#**kwargs (dictionary): Additional attributes of the site (e.g., status, operator).
#The function should create a dictionary representing the site, including its name, details (from *args), and attributes (from **kwargs). Then, it should append this dictionary to the drilling_sites list.

In [43]:

Drilling_Site = []
def add_site(site_name,*args,**keyargs):
    sites={
        "name":site_name,
        "details":args,
        "attributes":keyargs
    }
    Drilling_Site.append(sites)
add_site("XYZ","Location: X","Depth: 100m",Status="In Processing", Operator="ABC")
print(Drilling_Site)

[{'name': 'XYZ', 'details': ('Location: X', 'Depth: 100m'), 'attributes': {'Status': 'In Processing', 'Operator': 'ABC'}}]

In [ ]:
#recursive function: function that calls itself

In [44]:
def fact(num):
    if(num==0):
        return 1;
    else:
        return num*fact(num-1)
fact(4)

24

In [54]:
def fibo(n):
    if(n<=1):
        return n;
    else:
        return fibo(n-1)+fibo(n-2)
result = fibo(8)
print(result)

21

In [123]:
a=0
b=1
c=0
def fibo(n):
    c=a+b;
    a=b;
    b=c;
    print(" ",c)
    fibo(n-1)
print(a,b)
fibo(6)

0 1

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [ ]:
#Decorator Function

In [56]:
def divide(a,b):
    if(a<b):
        a,b=b,a
    c=a/b
    return c
divide(2,5)

2.5

In [58]:
def org_div(a,b):
    return a/b
org_div(2,5)

0.4

In [59]:
def smart_div(func):
    def swap(a,b):
        if(a<b):
            a,b=b,a
        return func(a,b)
    return swap

In [64]:
res=smart_div(org_div)

In [65]:
res(2,5)

2.5

In [66]:
res(5,2)

2.5

In [68]:
def wish(name):
    print("Hello",name,"Good Morning")

In [97]:
def deco_wish(func):
    def change(name):
        if(name=="Robert"):
            print("Hello",name,"Bad Morning")
        else:
            return func(name)
    return change

In [98]:
msg = deco_wish(wish)

In [93]:
msg("Anushka")

Hello Anushka Good Morning

In [99]:
msg("Robert")

Hello Robert Bad Morning

In [115]:
def add(a,b):
    return a+b

In [117]:
def multiply(a,b):
    return a*b

In [118]:
def log_function_call(fun):
    def inner(a,b):
        return fun(a,b)
    return inner

In [119]:
res = log_function_call(add)

In [120]:
print(res)

<function log_function_call.<locals>.inner at 0x7fbb51abdbc0>

In [121]:
res(8,9)

17

In [122]:
res  = log_function_call(multiply)
res(8,9)

72

In [ ]:
#Generator Function: yield keyword to yield a sequence of value one at a time instead of returning all at once.

In [125]:
def count(n):
    i=1;
    while(i<=n):
        yield i;
        i=i+1;
count(9)

In [127]:
for i in count(10):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
#List Comprehension
list = [expression for items in list based on if condition]

In [3]:
num = [1,2,3,4,5]
sq=[x**2 for x in num]
print(sq)

[1, 4, 9, 16, 25]

In [4]:
twice = [x*2 for x in num]
print(twice)

[2, 4, 6, 8, 10]

In [6]:
even = [x for x in num if x%2==0]
print(even)

[2, 4]

In [9]:
list = ["python","java","azure","power bi"]
res =  [s[0] for s in list]
print(res)

['p', 'j', 'a', 'p']

In [12]:
list = ["python","java","azure","power BI","sql"]
res = [s[0].upper()+s[1:] for s in list]
print(res)

['Python', 'Java', 'Azure', 'Power BI', 'Sql']

In [13]:
list = ["python","java","azure","power BI","sql"]
print([s[0].upper()+s[1:] for s in list])

['Python', 'Java', 'Azure', 'Power BI', 'Sql']

In [23]:
words = "the quick brown fox jumps over the lazy dog"
list1 = words.split(" ")
res = [[s.upper(),len(s)]for s in list1]
print(res)

AttributeError: 'int' object has no attribute 'upper'

In [ ]:
#Lambda Function/Anonymous Function: function with no name

In [16]:
f=lambda i:i*i
f(3)

9

In [17]:
f=lambda a,b:a+b
f(3,4)

7

In [19]:
f=lambda a,b:a if a>b else b
f(3,7)

7

In [ ]:
#Filter, Map Function in List

In [1]:
def evenodd(n):
    if(n%2==0):
        return True
    else:
        return False
num = [1,4,3,8,12,33,26,31]
res = list(filter(evenodd,num))
print(res)

[4, 8, 12, 26]

In [8]:
res = list(filter(lambda a:a%2==0,num))
print(res)

[4, 8, 12, 26]

In [10]:
num = [10,11,17,14,15]
def sq(n):
    return n**2
res = list(map(sq,num))
print(res)

[100, 121, 289, 196, 225]

In [11]:
res = list(map(lambda a:a**2,num))
print(res)

[100, 121, 289, 196, 225]

In [12]:
words = ["hello","world","lambda","expression"]
f=lambda a:a.upper()
res = list(map(f,words))
print(res)

['HELLO', 'WORLD', 'LAMBDA', 'EXPRESSION']

In [19]:
people = [{"name":"Anushka","age":22},
         {"name":"Nirati","age":15},
         {"name":"Ahilya","age":28},
         {"name":"Aditi","age":37}]
res = sorted(people,key=lambda i: i['age'])
print(res)

[{'name': 'Nirati', 'age': 15}, {'name': 'Anushka', 'age': 22}, {'name': 'Ahilya', 'age': 28}, {'name': 'Aditi', 'age': 37}]

In [ ]:
#CLASS
class class_name:
    variables (attributes)
    methods (functions)

In [21]:
class computer:
    def config(self):
        print("i5, 16GB")
comp1=computer()
comp1.config()

i5, 16GB