In [1]:
import pyspark

In [2]:
import findspark

In [3]:
findspark.init('/opt/anaconda3/lib/python3.11/site-packages/pyspark')

In [4]:
from pyspark import SparkContext

In [18]:
conf  = pyspark.SparkConf().setMaster("local").setAppName("first")

In [19]:
sc = SparkContext(conf=conf)

In [20]:
rdd=sc.parallelize([1,2,3])

In [22]:
rdd.collect()

[1, 2, 3]

In [23]:
sc

In [17]:
sc.stop()

In [24]:
rdd2 = sc.parallelize(["Python","SQL","Pyspark"])

In [25]:
rdd2.collect()

['Python', 'SQL', 'Pyspark']

In [26]:
type(rdd2)

pyspark.rdd.RDD

In [27]:
rdd3 = sc.parallelize([1,2,3,4,5,6,7,8,9,10])

In [28]:
rdd3.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
#make the elements inside rdd3 list twice
rdd4=rdd3.map(lambda x:x*2)

In [30]:
rdd4.collect()

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
findspark.find()

'/opt/anaconda3/lib/python3.11/site-packages/pyspark'

In [ ]:
#filter even numbers from rdd3

In [31]:
rdd5=rdd3.filter(lambda x:x%2==0)

In [32]:
rdd5.collect()

[2, 4, 6, 8, 10]

In [33]:
#CREATE A SPARK SESSION
from pyspark.sql import SparkSession

In [34]:
spark  = SparkSession.builder.appName("RDDExample").getOrCreate()

In [36]:
df=spark.createDataFrame([[4,5,6]])
df.show()

+---+---+---+
| _1| _2| _3|
+---+---+---+
|  4|  5|  6|
+---+---+---+

In [37]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

 

df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [41]:
data = [
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
]
schema = 'a long, b double, c string, d date, e timestamp'

In [43]:
df2 = spark.createDataFrame(data,schema)

In [44]:
df2.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [46]:
data2 = [(1,'a','z',77700,'India'),(2,'b','y',665783,'Pakistan')]

In [47]:
schema = "id int,name string, last_name string, mo int,country string"

In [48]:
df3=spark.createDataFrame(data2,schema)

In [49]:
df3.show()

+---+----+---------+------+--------+
| id|name|last_name|    mo| country|
+---+----+---------+------+--------+
|  1|   a|        z| 77700|   India|
|  2|   b|        y|665783|Pakistan|
+---+----+---------+------+--------+

In [50]:
df3.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- mo: integer (nullable = true)
 |-- country: string (nullable = true)

In [51]:
users = [{
    "id":1,
    "first_name":"Saumya",
    "amount_paid":78000
},
{
    "id":2,
    "first_name":"Shreya",
    "amount_paid":8000
},
{
    "id":3,
    "first_name":"Anushka",
    "amount_paid":8990
}]

In [52]:
df4 = spark.createDataFrame(users)

In [53]:
df4.show()

+-----------+----------+---+
|amount_paid|first_name| id|
+-----------+----------+---+
|      78000|    Saumya|  1|
|       8000|    Shreya|  2|
|       8990|   Anushka|  3|
+-----------+----------+---+

In [ ]:
#to select and show particular columns of the data frame
df.select("col1","col2").show()

In [ ]:
#to chnage the name of the column in the data frame and for that we need to import col function
import col from pyspark.sql.functions
sf.select(col("columnName").alias("newColumnName"))

In [ ]:
#to rename column name using withColumnRenamed Function
#this fun selects the whole data frame and the above only slects the particular column
df.withColumnRename("existing","new").show()

In [ ]:
#concating the columns 
#we should use the pyspark functions with the data frame functions
df.select(concat("col1","col2").alias("newColumnName")).show()

In [ ]:
#to put space among the concated column values we use lit("&")
df.select("*",concat("col1",lit("&"),"col2").alias("newColumnName"))\.show()

In [54]:
df5=spark.read.csv("/home/labuser/Desktop/Employee.csv")
df5.show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|       _c0|   _c1|       _c2|            _c3|   _c4|    _c5|              _c6|                 _c7|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             null|             Finance|
|    Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|
|   Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [55]:
df5.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)

In [58]:
df5=spark.read.option("header",True).csv("/home/labuser/Desktop/Employee.csv")

In [59]:
df5.show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             null|             Finance|
|    Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|
|   Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [60]:
df5.printSchema()

root
 |-- First Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Last Login Time: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Bonus %: string (nullable = true)
 |-- Senior Management: string (nullable = true)
 |-- Team: string (nullable = true)

In [61]:
df6=spark.read.option("header",True).option("inferschema", True).csv("/home/labuser/Desktop/Employee.csv")
df6.printSchema()

root
 |-- First Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Last Login Time: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Bonus %: double (nullable = true)
 |-- Senior Management: boolean (nullable = true)
 |-- Team: string (nullable = true)